<% if @app.present? %>
  <div class= "dashboard clearfix">
    <h3>Dynos
      <% if @app.live? %>
        <span class="beacon">
          <span class="ring"></span>
          <span class="dot"></span>
        </span>
      <% end %>
    </h3>
  </div>

  <div class="row chart">
    <div id="realtime" data-processes='<%= JSON.generate(@app.stats) %>' data-update-url="<%= root_path %>dynos/stats"></div>
    <div id="realtime-legend"></div>
  </div>

  <script type="text/javascript" src="<%= root_path %>dynos/dashboard.js?v=<%= rand(0..9999) %>"></script>
<% else %>
  <div class= "dashboard clearfix">
    <h3>Dynos</h3>
    <p>Heroku Autoscale is not initialized.</p>
  </div>
<% end %>